<% if (message) { %>
<p><%= message %></p>
<a href="/">Login with a username and password</a>
<% }  else { %>
<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/><br/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Submit"/>
    </div>
</form>
<p>
    <small>Hint - theo:TopSecret!</small>
</p>
<% } %>