<div class="squareTextLeft" id="squareLeft">
    <div class="head"> Prijzen</div>
    <div class="squareTextLeftBestelinfo">
        <p> Alle prijzen en informatie op deze site is onder voorbehoud van fouten en wijzigingen.</p>
        <p> De badeendjes blijven eigendom van We Duck tot de betaling heeft plaatsgevonden.</p>
        <p> Badeendjes op voorraad direct leverbaar. </p>
            De prijzen die getoond worden zijn inclusief btw, exclusief bezorgen en onder voorbehoud van typefouten en
            wijzigingen. Indien om wat voor een technische storing dan ook een verkeerde prijs wordt weergegeven, is
            deze niet geldig.

        </p>
    </div>
</div>
</div>
<div class="squareTextRight" id="squareRight">
    <div class="head">Gegevens</div>
    <div class="squareTextRightBestelinfo">
    <p>
        De door de klant verstrekte gegevens zullen nooit zonder toestemming van betrokkenen aan derden ter
        beschikking worden gesteld. Voor het bestellen van een badeendje bij We Duck is een account vereist.
        Hiervoor heeft We Duck uw e-mailadres nodig. Dit adres wordt gebruikt om de klant op de hoogte te houden van
        de voortgang van de bestelling en van aanbiedingen. Indien gewenst kunnen gegevens worden verwijderd.
    </p>

    <p> Is uw bestelling bij ontvangst niet naar wens, kan WeDuck deze terug nemen om te recyclen. Hierbij moet
        duidelijk aangegeven worden door de klant wat er niet naar wens is. WeDuck zoekt dan een toepasselijke
        oplossing.
    </p>
        </div>
</div>