<div class="squareTextLeft" id="squareLeft">
    <div class="head">Contact</div>
    <div class="contactBox">
        <img src="icons/iconfiliaal.png">

        <p>We Duck</p>

        <p>Ruitenberglaan 26</p>

        <p>Arnhem</p>
    </div>
    <div class="contactBox">
        <img src="icons/iconmail.png">

        <p>info@weduck.nl</p>
    </div>
    <div class="contactBox">
        <img src="icons/iconphone.png">

        <form name="forgotForm">
            <p>494776</p>
    </div>
</div>
<div class="squareTextRight" id="squareRight">
    <div class="contactForm">
        <div class="head">Email</div>
        <form name="contactForm">
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Naam:</span>
                <input type="text" placeholder="Naam" data-ng-model="contactForm.nameCustomer" data-ng-init=""
                       class="form-control">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">E-mail:</span>
                <input type="text" placeholder="Email" data-ng-model="contactForm.username" data-ng-init=""
                       class="form-control">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Onderwerp:</span>
                <input type="text" placeholder="Onderwerp" data-ng-model="contactForm.subject" data-ng-init=""
                       class="form-control">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Bericht:</span></div>
            ​<textarea id="txtArea" rows="10" cols="50" data-ng-model="contactForm.question" data-ng-init=""
                       class="form-control"></textarea>

            <button data-ng-click="contactForm(contactForm)" class="btnInloggen">Verzenden</button>

        </form>
    </div>
</div>