<div class="squareTextLeft" id="squareLeft">
    <div class="head">Account</div>
    <p>Hoe kan ik inloggen bij We Duck?</p>

    <p>Waar kan ik me registreren bij We Duck?</p>

    <p>Wat zijn de voordelen van een We Duck account?</p>

    <p>Kan ik mijn account verwijderen?</p>

    <p>Waar kan ik mijn gegevens wijzigen?</p>

    <p>Wat gebeurd er met mijn gegevens?</p>

    <p>Ik ben mijn wachtwoord vergeten, wat nu?</p>

    <div class="head">Ontwerpen</div>
    <p> In welk formaat dient een afbeelding geüpload te worden?</p>

    <p> Kan ik een eend uit de Wall of Duck ook bestellen?</p>

</div>

<div class="squareTextRight" id="squareRight">
    <div class="head">Bestellen</div>
    <p>Wat is de levertijd van de badeendjes?</p>

    <p>Hoeveel badeendjes kan ik tegelijkertijd bestellen?</p>

    <p>Wat zijn de verzendkosten per bezorging?</p>

    <p>Mijn bestelling is onvolledig bezorgd, wat nu?</p>

    <p>Is er een ophaalpunt voor mijn bestelling?</p>

    <p>Wat zijn de betaalmethoden?</p>

    <p>Kan ik mijn bestelling wijzigen?</p>

    <p>Ik wil een zakelijke bestelling plaatsen, is dit mogelijk?</p>

    <p>Kan ik ook een badeendje cadeau geven?</p>
</div>






