<div class="content">
    <iframe src="//www.youtube.com/embed/XIRTJyVgoB4?rel=0&autohide=1&showinfo=0″ frameborder=0" showinfo=0 frameborder="0" allowfullscreen></iframe>
    <div class="promotion">
        <img src="images/promotionOwn.png">
        <img src="images/promotionGift.png">
        <a href="#/configurator">
        <div class="button">Start designer!</div>
        </a>
    </div>
</div>