<div class="navigation">

    <p><a href="#openModal">Login | </a> <a href="#/users/0">Registreer</a></p>
    <a href="#/home" class= "iconNavigation" ></a>
    <a id="order" href="#/winkelmand"><img data-ng-click="setNav('order')" ng-mouseover="setHover('order')" class="iconNavigation"   alt="Winkel" src="icons/iconOrder1.png"></a>
    <a id="wall" href="#/wall"><img data-ng-click="setNav('wall')" ng-mouseover="setHover('wall')" class="iconNavigation"   alt="Wall of Duck" src="icons/iconWall1.png"></a>
    <a id="config" href="#/configurator"><img data-ng-click="setNav('config')" ng-mouseover="setHover('config')" class="iconNavigation"   alt="Configurator button" src="icons/iconConfig1.png"></a>
    <a id="home" href="#/home"><img data-ng-click="setNav('home')" class="iconNavigation" ng-mouseover="setHover('home')"   alt="We Duck" src="icons/iconHome1.png"></a>

</div>
<div id="openModal" class="modalDialog">
    <div>
        <p>Inloggen<a href="#close" title="Close"><img src="images/close.png"  class="closeButton"></a></p>
        <input type="text" placeholder="Email"  data-ng-model="loginForm.username" data-ng-init="" class="form-control">
        <input type="password" placeholder="Password" data-ng-model="loginForm.password" data-ng-init="" class="form-control">
        <button  data-ng-click="login(loginForm)"  class="btnInloggen">Inloggen</button>
        <button  data-ng-click="openForm()"  class="btnInloggen">Wachtwoord vergeten?</button>
        <form name="forgotForm">
            <div id= "forgetDiv">
                <input type="text" placeholder="Email"  data-ng-model="forgotForm.username" data-ng-init="" class="form-control">
                <button  data-ng-click="forgotPassword(forgotForm)"  class="btnInloggen">Verzenden</button>
            </div>
        </form>
    </div>
</div>