<div class="navigation">
    <p><input type="text" data-ng-click="goToAccount()" class="form-control" readonly placeholder="name" data-ng-model="users.doc.name"><a data-ng-click="logout()"/> | Log uit</p>

    <a id="order" href="#/winkelmand"><img data-ng-click="setNav('order')" ng-mouseover="setHover('order')" class="iconNavigation"   alt="Winkel" src="icons/iconOrder1.png"></a>
    <a id="wall" href="#/wall"><img data-ng-click="setNav('wall')" class="iconNavigation" ng-mouseover="setHover('wall')"   alt="Wall of Duck" src="icons/iconWall1.png"></a>
    <a id="config" href="#/configurator"><img data-ng-click="setNav('config')" class="iconNavigation" ng-mouseover="setHover('config')"  alt="Configurator button" src="icons/iconConfig1.png"></a>
    <a id="user" data-ng-click="goToAccount()"><img data-ng-click="setNav('user')" ng-mouseover="setHover('user')" class="iconNavigation"   alt="User" src="icons/iconUser1.png"></a>
    <a id="home" href="#/home"><img data-ng-click="setNav('home')" ng-mouseover="setHover('home')" class="iconNavigation"   alt="We Duck" src="icons/iconHome1.png"></a>


</div>
