<div class="squareTextLeft" id="squareLeft">
    <div class="head">Uw Gegevens</div>
    <form name="userForm">
        <p>Adresgegevens/afleveradres</p>

        <div class="squareTextLeftLeft">
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Naam</span>
                <input type="text" class="form-control" placeholder="Name" readonly name="name"
                       data-ng-model="users.doc.name"
                       required=""
                       pattern=".{8,}">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Straat</span>
                <input type="text" class="form-control" placeholder="Name" name="name" data-ng-model="users.doc.street"
                       required=""
                       pattern=".{8,}">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Postcode</span>
                <input type="text" class="form-control" placeholder="Name" name="name" data-ng-model="users.doc.zip"
                       required=""
                       pattern=".{8,}">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Land</span>
                <input type="text" class="form-control" placeholder="Name" name="name" data-ng-model="users.doc.state"
                       required=""
                       pattern=".{8,}">
            </div>
            <p>Betaalgegevens</p>

            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Bank</span>
                <select
                        data-ng-model="users.doc.bankName"
                        data-ng-options="option for option in banken">
                    <option value="">-- Kies een bank --</option>
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Rekening</span>
                <input type="text" class="form-control" placeholder="Name" name="name" data-ng-model="users.doc.number"
                       required=""
                       pattern=".{8,}">
            </div>
            <div>
                <button type="button" class="btnSave" data-ng-click="updateUser()"
                        data-ng-disabled="userForm.$invalid">Sla wijziginen op
                </button>
            </div>
        </div>
    </form>
</div>

<div class="squareTextRight" id="squareRight">
    <div class="head">Gekozen opties</div>
    <div class="squareTextOrderLeft">
        <!--<div class="input-group">
         <span class="input-group-addon input-group-addonWidth">Id</span>
         <input type="text" style="width: 80%;" class="form-control" placeholder="Name" readonly name="name"
                data-ng-model="configurator.doc._id"
                required=""
                pattern=".{8,}">
     </div>-->
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Kleur</span>
            <input id="backgroundColor" data-ng-init="backgroundColor()" type="text" class="form-control" placeholder="Name" readonly name="name"
                   data-ng-model="configurator.doc.color"
                   required=""
                   pattern=".{8,}">
        </div>

        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Patroon</span>
            <input  data-ng-init="backgroundColor()" type="text"  class="form-control" placeholder="Niet gekozen" readonly name="name"
                    data-ng-model="configurator.doc.pattern"
                    required=""
                    pattern=".{8,}">
        </div>

        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Grootte</span>
            <input  data-ng-init="backgroundColor()" type="text"  class="form-control" placeholder="Niet gekozen" readonly name="name"
                    data-ng-model="configurator.doc.size"
                    required=""
                    pattern=".{8,}">
        </div>

        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Inhoud</span>
            <input  data-ng-init="backgroundColor()" type="text"  class="form-control" placeholder="Niet gekozen" readonly name="name"
                    data-ng-model="configurator.doc.volume"
                    required=""
                    pattern=".{8,}">
        </div>
    </div>
    <div class="squareTextOrderRight">

        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Accessoire</span>
            <input  data-ng-init="backgroundColor()" type="text"  class="form-control" placeholder="Niet gekozen" readonly name="name"
                    data-ng-model="configurator.doc.accessoire"
                    required=""
                    pattern=".{8,}">
        </div>
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Tekst</span>
            <input  data-ng-init="backgroundColor()" type="text"  class="form-control" placeholder="Niet gekozen" readonly name="name"
                    data-ng-model="configurator.doc.text"
                    required=""
                    pattern=".{8,}">
        </div>
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Afbeelding</span>
            <input  data-ng-init="backgroundColor()" type="text"  class="form-control" placeholder="Niet gekozen" readonly name="name"
                    data-ng-model="configurator.doc.image"
                    required=""
                    pattern=".{8,}">
        </div>
    </div>

    <div class="head">Bestelling afronden</div>
    <div class="squareTextOrderLeft">
        <div class="input-group">
            <span id="units" class="input-group-addon input-group-addonWidth">Aantal</span>
            <input id="input" ng-change="price()" type="text" class="form-control" placeholder="aantal" data-ng-model="transaction.doc.price">
        </div>
        <p></p>
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Kado</span>
            <select id="select" ng-change="price()"
                    data-ng-model="transaction.doc.present"
                    data-ng-options="option for option in present">
                <option value="">Maak een keuze...</option>
            </select>
        </div>
        <div id="totalPrice">

        </div>
        <p></p>
        <button  class="btnSave" data-ng-click="bestel()">Bestel
        </button>

    </div>


</div>


<!--<form name="transactionForm">
    <div class="">
        <h3>Product</h3>
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Units</span>
            <input type="text" class="form-control" placeholder="aantal" data-ng-model="transactions.doc.unitsOrdered">
        </div>
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Kado</span>
            <select
                    data-ng-model="users.doc.bankName"
                    data-ng-options="option for option in present">
                <option value="">-- Wel of geen cadeau --</option>
            </select>
        </div>
    </div>


    <div>
        <p>
            <button
                    type="button"
                    class="btn btn-danger"
                    data-ng-click="delete(transactions.doc.id)"
                    confirmation-needed="Really Delete?"
                    >
                Delete
            </button>

            <button type="button" class="btn btn-success" data-ng-click="save(transactionForm)"
                    data-ng-disabled="transactionForm.$invalid">Save
            </button>
        </p>
    </div>
</form>
</div>
-->


