<div class="squareTextLeft" id="squareLeft">
    <form name="userForm">
        <div class="head">Accountgegevens</div>
        <div class="squareTextLeftLeft">
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Naam</span>
                <input type="text" class="form-control" placeholder="Name" name="name" data-ng-model="users.doc.name"
                       required=""
                       pattern=".{8,}">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Email</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="users.doc.email">
            </div>

            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Straat</span>
                <input type="text" class="form-control" placeholder="Straat" data-ng-model="users.doc.street">
            </div>

            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Postcode/plaats</span>
                <input type="text" class="form-control" placeholder="Postcode" data-ng-model="users.doc.zip">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Land</span>
                <input type="text" class="form-control" placeholder="Land" data-ng-model="users.doc.state">
            </div>
            <div id="passwordDiv">
                <span class="input-group-addon input-group-addonWidth">Wachtwoord</span>
                <input type="password" class="form-control" placeholder="Wachtwoord" data-ng-model="users.doc.password">
            </div>
            Betaalgegevens
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Bank</span>
                <select
                        data-ng-model="users.doc.bankName"
                        data-ng-options="option for option in banken">
                    <option value="">-- Kies een bank --</option>
                </select>
            </div>


            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Rekening</span>
                <input type="text" class="form-control" placeholder="Number" data-ng-model="users.doc.number">
            </div>

            <div>
                <button type="button" class="btnSave" data-ng-click="save(userForm)"
                        data-ng-disabled="userForm.$invalid">Sla wijziginen op
                </button>
            </div>

            <div id="successUser" class="success">
                Opgeslagen!
            </div>
            <div id="wrongUser" class="wrong">
                U heeft niet alle gegevens goed ingevuld!
            </div>

    </form>
</div>

<div class="squareTextLeftRight">
    <form name="changeForm">
        <div id="changePasswordDiv">
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Huidig wachtwoord</span>
                <input type="password" class="form-control" placeholder="Huidig wachtwoord"
                       data-ng-model="changeForm.oldPassword">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Nieuw wachtwoord</span>
                <input type="password" class="form-control" placeholder="Nieuw wachtwoord"
                       data-ng-model="changeForm.newPassword">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Wachtwoord bevestigen</span>
                <input type="password" class="form-control" placeholder="Bevestig wachtwoord"
                       data-ng-model="changeForm.confirmPassword">
            </div>
            <div class="input-group">
                <button type="button" class="btnSave" data-ng-click="changePassword(changeForm)">Opslaan
                </button>
            </div>
        </div>
        <div id="successUser" class="success">
            Opgeslagen!
        </div>
    </form>

</div>

</div>
<div class="squareTextRight" id="squareRight">


    <div id="inlogForm">

        <p> We duck gaat uit van:
            een 7 cijferige lange rekeningnummer</p>

        <p> De naam van de klant moet voldoen aan een lengte van 6 karakters</p>

    </div>
    <form name="listForm">
        <div id="getDuckList">
            <div class="head">Opgeslagen badeendjes</div>
        </div>

        <div id="yourDucks" data-ng-repeat="user in users">
            <a data-ng-repeat="configurator in user.configurators" id="test">

                <img class="img"  data-ng-click="getDetails(configurator._id)" alt="duck" src="images/duck8.png">


            </a>
        </div>
    </form>
    <div id="getDetailDuckList">
        <div class="head">Opgeslagen badeendjes</div>
        <img src="{{configurator.doc.configImage}}">
        <br>
        <button type="button" class="btnSave" data-ng-click="getBack()"
                >Terug
        </button>
        <button type="button" class="btnSave" data-ng-click="getEdit(configurator.doc._id)">Edit
        </button>
        <button type="button" class="btnSave" data-ng-click="makeOrder(configurator.doc._id)">Order
        </button>

    </div>
</div>






