<div class="scrollButton" id="scrollLeft"><img src="images/arrowLeft.png" id="arrowLeft"></div>
<div class="gallery" id="gallery"></div>
<div class="scrollButton" id="scrollRight"><img src="images/arrowRight.png" id="arrowRight"></div>
<div class="scrollNav" id="scrollNav"></div>

<!--
<div id="" data-ng-repeat="duck in wallofduck">
    <a  data-ng-repeat="duckId in duck.duckies">
        <span class="input-group-addon input-group-addonWidth">Id duckie</span>
        <input type="text" class="form-control" readonly placeholder="Bevestig wachtwoord" name="id" data-ng-model="duckId._id ">
        <button type="button" class="btn btn-primary" data-ng-click= "getDesign(duckId._id)">Get Design!
        </button>
    </a>
</div>
-->

