<div class="squareTextLeft" id="squareLeft">
    <div class="head">Laatst bestelde eendje</div>
    <div class="squareTextLeftLeftLeft">
        <div id="loginMelding">
            log eerst in!
        </div>
        <div id="getWinkelDetail">
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">id</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="transactions.doc._id">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Status bezorgd:</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="transactions.doc.delivered">
            </div>

            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Aantal</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="transactions.doc.unitsOrdered">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Kado</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="transactions.doc.present">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Id</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="transactions.doc.price">
            </div>
        </div>
    </div>
</div>

<div class="squareTextRight" id="squareRight">
    <form name="listForm">
        <div id="getDuckList">
            <div class="head">Opgeslagen badeendjes</div>
        </div>

        <div id="yourDucks" data-ng-repeat="user in users">
            <a data-ng-repeat="configurator in user.configurators" id="test">

                <img class="img"  data-ng-click="getDetails(configurator._id)" alt="duck" src="images/duck8.png">


            </a>
        </div>
    </form>
    <div id="getDetailDuckList">
        <div class="head">Opgeslagen badeendjes</div>
        <img class="img"   alt="duck" src="images/duck8.png">


        <br>
        <button type="button" class="btnSave" data-ng-click="getBack()"
                >Terug
        </button>
        <button type="button" class="btnSave" data-ng-click="getEdit(configurator.doc._id)">Edit
        </button>

    </div>

</div>






