<div class="squareTextLeft" id="squareLeft">
    <div class="head">Aankoopdetails</div>
    <div class="squareTextLeftLeft">

        <div class="squareTextLeftCenter">
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">id</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="transactions.doc._id">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Bezorgstatus</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="transactions.doc.delivered">
            </div>

            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Aantal</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="transactions.doc.unitsOrdered">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Kado</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="transactions.doc.present">
            </div>
            <div class="input-group">
                <span class="input-group-addon input-group-addonWidth">Prijs</span>
                <input type="text" class="form-control" placeholder="Email" data-ng-model="transactions.doc.price">
            </div>
            <div id="yourDucks" data-ng-repeat="transaction in transactions">
                <div data-ng-repeat="product in transaction.products">
                    <input type="text" class="form-control" readonly placeholder="Bevestig wachtwoord" name="id"
                           data-ng-model="product._id ">
                    <button data-ng-click="getDesign(product._id)">Get design
                    </button>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="squareTextRight" id="squareRight">
    <div id="getDetailDuckList">
        <div class="head">Ontworpen eend</div>
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Id</span>
            <input type="text" class="form-control" placeholder="Email" data-ng-model="configurator.doc._id">
        </div>
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Kleur</span>
            <input type="text" class="form-control" placeholder="Email" data-ng-model="configurator.doc.color">
        </div>
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Grote</span>
            <input type="text" class="form-control" placeholder="Email" data-ng-model="configurator.doc.size">
        </div>
        <div class="input-group">
            <span class="input-group-addon input-group-addonWidth">Volume</span>
            <input type="text" class="form-control" placeholder="Email" data-ng-model="configurator.doc.volume">
        </div>
    </div>

</div>






