/* colorpicker styles
.colorpicker {
    background-color: #222222;
    color: #FFFFFF;
    font-size: 12px;
    width: 100%;
}

#picker {
    height: 20%;
    cursor: crosshair;
    float: left;
    margin: 10px;
    border: 0;
}

image>#picker {
    height: 50%;
}*/

.preview {
    /*background: url("../images/select.png") repeat scroll center center transparent;*/
    cursor: pointer;
    height: 100%;
    width: 100%;
}