#view {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: century gothic;
}

.colorPalette {
    float: left;
    overflow: hidden;
    display: block;
    height: 60%;
    width: 84%;
    margin-top: 5%;
    margin-left: 3%;
    margin-bottom: 2%;
}

.moreColors {
    text-align: center;
    width: 73%;
    height: 10%;
    margin-left: 14%;
    color: white;
    font-size: 1.5em;
    background-color: #E27C79;
    float: left;
}

.moreColors:hover {
    background-color: #FEE57E;
}

.colorpicker {
    float: left;
    overflow: hidden;
    margin-top: 5%;
    margin-left: 25%;
}

.selectedColor {
    width: 55.5%;
    height: 10%;
    margin-left: 25%;
    color: white;
    float: left;
}

/* Joost CSS */

#forgetDiv {
    display: none;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#getDetailDuckList {
    display: none;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    /* -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;*/
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    /*  Pop-up venster */
    width: 400px;
    position: relative;
    margin: 10% auto;
    background-color: #EBEBEB;
}

.modalDialog > div p {
    /*  Pop-up koptekst */
    width: 400px;
    background-color: #E27C79;
    float: right;
    margin: 0 0 2% 0;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-top: 1%;
    color: white;
    text-align: left;
    font-size: 1.5em;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
}

.modalDialog > div input {
    float: left;
    margin-left: 10px;
    margin-bottom: 2px;
    width: 200px;
}

.btnInloggen {
    background-color: #E27C79;
    border-radius: 0;
    border: 0;
    color: white;
    font-size: 1.05em;
    margin: 4px 185px 4px 0;
    width: 205px;
}

/* REGISTREER / LOGIN MENU*/
.loginMenu {
    float: right;
    margin-top: 6%;
    right: 20px;

}

.close:hover {
    background: #00d9ff;
}

/* END */
img {
    display: block;
}

.page {
    padding-top: 5px;
    width: 80%;
    min-width: 750px;
    min-height: 420px;
    height: 93%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    overflow: hidden;
}

.content {
    margin-top: 44px;
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.navigation {
    width: 100%;
    height: 10%;

}

.iconNavigation {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    height: 100%;
    float: right;
    margin: 0 0 0 1%;
}

.navigation p {
    width: 100%;
    display: block;
    float: right;
    text-align: right;
    margin-top: 0%;
    margin-bottom: 2%;
}

a:link, a:visited, a:hover, a:active {

    text-decoration: none;
    color: black;
}

.logo {
    height: 30%;
    position: absolute;
    top: 0;
}

.mediaplayer {
    border: 2px solid grey;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
}

.ng-scope {
    height: 100%;
    width: 100%;
}

.icon {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    height: 100%;
    width: 98%;
    float: right;
    margin: 0 1% 0 0;
}

.iconNavigation {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    height: 100%;
    float: right;
    margin: 0 0 0 1%;
}

.footer {
    background-color: lightgrey;
    text-align: center;
    width: 100%;
    height: 7%;
}

iframe {
    float: left;
    width: 65%;
    height: 95%;
}

.promotion {
    float: left;
    width: 35%;
    height: 95%;
    padding-left: 2%;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
}

.promotion img {
    margin-bottom: 1%;
    float: right;
    width: 100%;
    height: 40%;
}

.promotion .button {
    text-align: center;
    color: white;
    padding-top: 2%;
    font-size: 200%;
    float: left;
    width: 100%;
    background-color: #E27C79;
    height: 18%;
}

.square {
    width: 50%;
    min-height: 378px;
    height: 100%;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
}

/* MIJN ACCOUNT PAGINA CSS */
.squareTextLeft {
    background-color: #ebebeb;
    width: 49%;
    min-height: 378px;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    float: left;
    font-size: 0.9em;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
}

.squareTextRight {
    background-color: #ebebeb;
    width: 49%;
    min-height: 378px;
    height: 100%;
    font-size: 0.9em;
    padding-left: 2%;
    padding-right: 2%;
    float: right;
    overflow: hidden;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
}

.squareTextRight a {
    width: 80%;
    height: 50%;
}

#getDetailDuckList img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 50%;
    border: 1px solid #E27C79;

}

#loginForm {
    margin: 0;

}

.squareTextLeftLeft {
    float: left;
    width: 55%;
}

.squareTextLeftCenter {
    float: left;
    width: 90%;
    padding-left: 5%;
}

.squareTextLeftBestelinfo {
    float: left;
    width: 100%;
}

.squareTextLeftLeft input, .squareTextLeftLeft select {
    float: right;
}

.squareTextLeftRight {
    float: left;
    margin-left: 5%;
    width: 40%;
}

.squareTextRightBestelinfo {
    float: left;
    width: 100%;
}

.squareTextLeftLeft .input-group {
    height: 25px;
    margin-top: 1%;
}

.squareTextLeftRight .input-group {
    height: 50px;
}

.squareTextLeftLeft .btnSave {
    float: right;
    background-color: #E27C79;
    border-radius: 0;
    border: 0;
    color: white;
    font-size: 1.05em;
    margin: 5% 0 0 3%;
    width: 100%;
}

.squareTextLeftRight .btnSave {
    float: right;
    background-color: #E27C79;
    border-radius: 0;
    border: 0;
    color: white;
    font-size: 1.05em;
    margin: 3% 20% 0 5%;
    width: 80%;
}

.squareTextRight .btnSave {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #E27C79;
    border-radius: 0;
    border: 0;
    color: white;
    font-size: 1.05em;
    width: 80%;
}

.squareTextLeftLeft .success {
    float: right;
    display: none;
    padding: 1% 0 1% 0;
    text-align: center;
    background-color: lawngreen;
    border-radius: 0;
    border: 0;
    color: white;
    font-size: 1.05em;
    margin: 5% 0 0 3%;
    width: 100%;
}

.squareTextLeftRight .success {
    float: right;
    display: none;
    padding: 1% 0 1% 0;
    text-align: center;
    background-color: lawngreen;
    border-radius: 0;
    border: 0;
    color: white;
    font-size: 1.05em;
    margin: 5% 0 0 3%;
    width: 100%;
}

.squareTextLeftLeft .wrong {
    float: right;
    display: none;
    padding: 1% 0 1% 0;
    text-align: center;
    background-color: #fc0d1e;
    border-radius: 0;
    border: 0;
    color: white;
    font-size: 1.05em;
    margin: 5% 0 0 3%;
    width: 100%;
}

/* EINDE MIJN ACCOUNT PAGINA CSS */

canvas.square {
    width: 50%;
}

.item {
    width: 33%;
    height: 33%;
    padding: 2px;
    float: right;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
}

.item img {
    margin: 0;
}

.selectionBox {
    overflow: hidden;
    background-color: #EBEBEB;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

.block {
    width: 25%;
    height: 25%;
    background-color: lightseagreen;
}

.closeButton {
    width: 5%;
    height: 5%;
    float: right;
    display: block;
    margin-right: 2%;
    margin-top: 2%;

}

.backButton {
    width: 3.3%;
    height: 5%;
    float: right;
    display: block;
    margin-right: 4%;
    margin-top: 2%;

}

.bar {
    display: block;
    float: right;
    width: 100%;
}

.option {
    margin-left: 3%;
    margin-bottom: 4%;
    float: right;
    width: 15%;
    height: 26%;
}

.optionSize {
    margin-left: 3%;
    margin-bottom: 4%;
    float: right;
    width: 40%;
    height: 40%;
}

.optionSize img {
    height: 100%;
}

/*Later toegevoegd: */
.gallery {
    width: 80%;
    height: 90%;
    overflow: hidden;
    float: left;
    margin-left: 3%;
    margin-right: 3%;
}

.scrollButton {
    width: 7%;
    height: 90%;
    overflow: hidden;
    background-color: #E27C79;
    float: left;
}

.galleryItem {;
    height: 49.4%;
    width: 33%;
    float: left;
    text-align: center;
    border: 1px solid lightgrey;
}

.galleryItem img {
    width: 80%;
    margin-left: 10%;
}

.scrollNav {
    float: right;
    width: 54.5%;
    margin-top: 0.5%;
}

.scrollNavButton {
    float: left;
    height: 20px;
    margin: 0.2%;
}

.scrollButton img {
    position: relative;
    top: 40%;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.head {
    font-size: 1.3em;
    text-align: right;
    float: right;
    margin-right: 4%;
    margin-top: 3%;
    margin-bottom: 8%;
    width: 94%;
}

.squareTextLeft img {
    float: left;
    width: 15%;
    height: 15%;
    margin-bottom: 13%;
    margin-top: 5%;
    margin-right: 3%;

}

.contactBox {
    float: left;
    width: 60%;
}

.squareTextRight .contactForm .input-group {
    float: left;
    width: 55%;
    height: 6%;
    margin-top: 1%;
}

.squareTextRight .contactForm .input-group input {
    float: right
}

#getDetailDuckList {
    display: none
}

.squareTextRight .contactForm .input-group {
    float: left;
    width: 55%;
    height: 6%;
    margin-top: 1%;
}

.squareTextRight .contactForm .input-group input {
    float: right
}

.squareTextOrderLeft {
    float: left;
    width: 47%;
}

.squareTextOrderRight {
    float: left;
    margin-left: 6%;
    width: 47%;
}

.squareTextOrderLeft .input-group {
    height: 25px;
    margin-top: 1%;
}

.squareTextOrderRight .input-group {
    height: 25px;
    margin-top: 1%;
}

.squareTextOrderRight input, .squareTextOrderRight select, .squareTextOrderLeft input, .squareTextOrderLeft select {
    float: right;
    width: 50%;
}

.squareTextOrderLeft .btnSave {
    float: right;
    background-color: #E27C79;
    border-radius: 0;
    border: 0;
    color: white;
    font-size: 1.05em;
    margin: 3% 0 0 5%;
    width: 100%;
}

.navigation input {
    border: 0;
    padding-left: 2px;
    width: 11%;
    height: 10%;
    font-family: century gothic;
    font-size: 0.9em;
}

#yourDucks {
    width: 100%;
    height: 100%;
    margin-left: 3%;
}

#yourDucks img {
    width: 30%;
    height: 28%;
    display: inline-block;

    border: 1px solid #E27C79;
}

#getWinkelDetail {
    display: none;
}

#loginMelding {
    padding-top: 20%;
}

.popupSucces {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: lawngreen;
    border: 1px solid darkgreen;
    width: 39%;
    height: 4%;
    position: absolute;
    bottom: 10%;
    right: 10.2%;
    font-size: 1.3em;
    text-align: center;
    color: #ffffff;
}

.popupError {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    background-color: crimson;
    border: 1px solid darkred;
    width: 39%;
    height: 4%;
    position: absolute;
    bottom: 10%;
    right: 10.2%;
    font-size: 1.3em;
    text-align: center;
    color: #ffffff;
}

.popupError a:link, .popupError a:visited, .popupError a:hover, .popupError a:active {
    font-weight: bold;
    color: white;
}

.squareTextOrderRight {
    float: left;
    margin-left: 6%;
    width: 47%;
}

.squareTextLeftLeft {
    float: left;
    width: 60%;
}

.squareTextLeftRight {
    float: left;
    margin-left: 5%;
    width: 35%;
}
